html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

body {
  font-family: Arial, Verdana, sans-serif;
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
	color: #fff;
	background-color: #070217;
}

.main-logo {
  display: inline-block;
  margin-bottom: 50px;
}

.links {
  margin-bottom: 52px;
  font-size: 0;
}

.main-link {
  display: inline-block;
  padding: 24px 49px;
  font-weight: 700;
  font-size: 18px;
  background-color: #3f2aff;
}

.main-link:not(:last-child) {
  margin-right: 25px;
}

.download-link {
  padding-left: 30px;
  font-weight: 700;
  font-size: 18px;
  color: #3f2aff;
  background-image: url("../img/download.png");
  background-position: left center;
  background-repeat: no-repeat;
}

.container {
  margin: 0 auto;
  padding: 80px 0;
  width: 1170px;
}

.main-title {
  margin: 0;
  margin-bottom: 40px;
  font-weight: 400;
  font-size: 60px;
	line-height: 60px;
  color: #333;
}

.text {
  margin: 0;
  margin-bottom: 40px;
  width: 872px;
  font-weight: 400;
  font-size: 20px;
	line-height: 32px;
	color: #333;
}

.circled-text {
  border-radius: 20px;
  padding: 50px 95px;
  width: 100%;
  font-weight: 700;
  font-size: 30px;
  color: #fff;
  background-color: #3f2aff;
}

.decorate {
  border-radius: 20px;
  padding: 30px;
  background-color: #f3f3f3;
  background-position: right center;
  background-repeat: no-repeat;
}

.decorate:not(:last-child) {
  margin-bottom: 40px;
}

.second-title {
  margin: 0;
  margin-bottom: 10px;
  font-size: 40px;
	line-height: 46px;
  color: #333;
}

.list {
  margin: 0;
  padding: 15px;
}

.list-item:not(:last-child) {
  margin-bottom: 20px;
}

.list-item::marker {
  color: #3f2aff;
}

.list-link {
  border-bottom: 1px solid #3f2aff;
  font-size: 20px;
  color: #3f2aff;
}

.decorate .text {
  margin-bottom: 10px;
  width: 692px;
}

.decorate .text:last-child {
  margin-bottom: 0;
}

.decorate-1 {
  background-image: url("../img/decorate-1.png");
}

.decorate-2 {
  background-image: url("../img/decorate-2.png");
}

.third-title {
  margin: 0;
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 30px;
	line-height: 34px;
  color: #333;
}

.image-group {
  display: inline-block;
  margin: 0;
  margin-bottom: 40px;
  width: 872px;
  font-size: 0;
}

.image-group figcaption {
  border: 1px solid #b6b6b6;
  border-top: none;
  padding: 19px 0;
  font-weight: 400;
  font-size: 14px;
  text-align: center;
}

.image {
  margin-bottom: 40px;
}

.article-part {
  padding-bottom: 40px;
}

.article-part *:last-child {
  margin-bottom: 0;
}

.header {
  margin-bottom: 25px;
}

.modules-main-title {
  font-weight: 700;
  color: #3f2aff;
}

.back {
  display: inline-block;
  margin-bottom: 25px;
  padding-left: 55px;
  font-size: 20px;
  color: #3f2aff;
  background-image: url("../img/arrow.png");
  background-position: left center;
  background-repeat: no-repeat;
}

.modules-list {
  list-style: none;
  margin: 0;
  margin-bottom: 25px;
  padding: 0;
  font-size: 0;
}

.modules-list-item {
  position: relative;
  display: inline-block;
  vertical-align: top;
  margin-right: 25px;
  margin-bottom: 25px;
  padding: 25px;
  padding-top: 205px;
  width: 572px;
  height: 505px;
  filter: drop-shadow(0px 0px 40px rgba(0, 0, 0, 0.1));
  background-color: #fff;
  background-position: top center;
  background-repeat: no-repeat;
}

.modules-list-item:nth-child(2n) {
  margin-right: 0;
}

.modules-list-item-1 {
  background-image: url("../img/module-1.jpg");
}

.modules-list-item-2 {
  background-image: url("../img/module-2.jpg");
}

.modules-list-item-3 {
  background-image: url("../img/module-3.jpg");
}

.modules-list-item-4 {
  background-image: url("../img/module-4.jpg");
}

.modules-list-title {
  margin: 0;
  margin-bottom: 2px;
  font-size: 40px;
  line-height: 46px;
  color: #3f2aff;
}

.modules-sublist {
  list-style: none;
  margin: 0;
  padding: 0;
}

.modules-sublist-item {
  font-size: 20px;
  line-height: 33px;
  color: #333;
}

.modules-number {
  position: absolute;
  right: 25px;
  bottom: 25px;
  font-size: 40px;
  line-height: 46px;
  color: #eaeaea;
}

.btn-center {
  text-align: center;
}

.load-more {
  border: 2px solid #3f2aff;
  padding: 24px 75px;
  font-size: 18px;
  line-height: 20px;
  color: #3f2aff;
  background-color: transparent;
}
